{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    - P치gina en construccion
{% endblock %}

{% block contenido %}
    <div class="main-container inner-page">
        <span><h2><center>Esta p치gina est치 actualmente en construcci칩n. Disculpe las molestias.</center></h2></span>
        <div>
            <center><img src={{ asset('images/building.png') }}></img></center>
        </div>
    </div>
{% endblock %}